* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    180deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(28, 28, 28, 1) 48%,
    rgba(36, 50, 36, 1) 100%
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 99;
  background-color: #1c1c1c;
}

.navbar a {
  text-decoration: none;
  font-size: 2.5rem;
  line-height: 4.5rem;
  margin: 0 1.5rem;
  color: #2f8d46;
  font-weight: 600;
  padding: 0.8rem 1rem;
}

.team-section {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 6vh 0;
}
.container h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  color: #eee;
  position: relative;
  margin-bottom: 2rem;
}

.container h1::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 3px;
  width: 200px;
  background-color: #2f8d46;
  border-radius: 50%;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.card-body {
  width: 200px;
  height: 200px;
}
.box {
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #39ff1488;
  cursor: pointer;
  margin-bottom: 15px;
  position: relative;
  width: 100%;
  height: 100%;
}

.box img {
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000098;
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.5s ease;
  transform-origin: 0%;
  border-radius: 50%;
}

.info .name {
  margin-top: 0.8rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: #39ff1498;
}
.info .details {
  font-size: 1rem;
  color: #eee;
  font-weight: 500;
}

.info .links {
  display: flex;
  justify-content: center;
}

.links a {
  width: 35px;
  height: 35px;
  margin: 0.5rem 0.8rem;
  color: #eee;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  border-radius: 50%;
  background-color: #39ff1468;
}
.links a:hover {
  background: #00000098;
  color: #39ff14;
}

.box:hover .info {
  transform: scale(1);
}

@media (max-width: 454px) {
  .navbar a {
    margin: 0;
    font-size: 2rem;
  }

  .container {
    padding: 3vh 0;
  }
}

.popup_wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: #eee;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
/* .content{
  display: flex;
  flex-direction: column;
} */
.popup_box {
  background-color: #fff;
  color: #000;
  max-width: 700px;
  max-height: 400px;
  margin: 0 auto;
  z-index: 100;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 15px;
  display: none;
  flex-wrap: wrap;
  border-radius: 5px;
}

.popup_box .image {
  flex: 0 0 30%;
  max-width: 30%;
}
.close-btn {
  width: 45px;
  height: 45px;
  position: absolute;
  z-index: 101;
  right: 10px;
  cursor: pointer;
}
.close-btn::after,
.close-btn::before {
  content: "";
  display: block;
  width: 2px;
  height: 100%;
  background-color: #333;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.close-btn::after {
  transform: rotate(45deg);
}
.close-btn::before {
  transform: rotate(-45deg);
}
.popup_box .content {
  flex: 0 0 70%;
  max-width: 70%;
  text-align: left;
}
.content h2 {
  text-align: left;
  margin-bottom: 20px;
}
/* .content h2, p, span{
  margin-bottom: 10px;
} */
.det {
  text-align: left;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  color: gray;
}
